@charset "utf-8";

/* 컨텐츠 영역 */
#hole{position:relative;margin:0 auto;width:1000px;height:100%;min-height:600px;}
#container2{position:relative;margin:0 auto;width:1000px;height:100%;}
#container3{position:relative;margin:0 auto;width:100%;height:100%;}
/* 좌측메뉴 */
#hole .left_menu{position:absolute;top:0px;left:0px;width:210px;}
#hole .left_menu .left_menu_title{ height:61px;font:22px "맑은 고딕", Malgun Gothic, NanumGothic, dotum, sans-serif;color:#222;letter-spacing:-1px;font-weight:600;padding:19px 0 0 10px; /*padding:23px 0 0 10px*/}
#hole .left_menu ul li{background:#fff;}
#hole .left_menu ul li a{display:block;height:32px;border-top:1px solid #ddd;padding:10px 0 0 32px;font:16px "맑은 고딕", Malgun Gothic, NanumGothic, dotum, sans-serif;color:#666;letter-spacing:-1px;}
#hole .left_menu ul li a:hover, #container .lnb ul li a:focus, #container .lnb ul li a:active{color:#fefeff;background:#04aec4 url(더보기옆.jpg) no-repeat 94% 10px;font-weight:600; background-size: 20px 20px; }
#hole .left_menu ul li .cho {color:#fefeff;background:#04aec4 url(더보기옆.jpg) no-repeat 94% 10px;font-weight:600; background-size: 20px 20px;}
#hole .left_menu ul li ul{display: none;background:#eee;padding:8px 0 11px 0;}
#hole .left_menu ul li ul li{background:#eee;}
#hole .left_menu ul li ul li a:before{content: "- ";}
#hole .left_menu ul li ul li a{display:block;width:155px;height:20px;padding:5px 0 0 33px;font:13px "맑은 고딕", Malgun Gothic, NanumGothic, dotum, sans-serif;color:#666;letter-spacing:-1px;border:none;}
#hole .left_menu ul li ul li a:hover, #container .lnb ul li ul li a:focus, #container .lnb ul li ul li a:active{color:#04aec4;text-decoration:underline;background:none;font-weight:400;}
#hole .left_menu ul li ul li .ons2{color:#04aec4;}

/*본문*/
#gomgo {
    min-height: 600px;
    margin: 10px 0 70px 245px;
    padding: 0 0 40px 0;
}
.gomcho_title{
  margin-top: 20px;
  margin-bottom: 20px;
}
.gomcho_title h1{
  font-weight: bold;
}
.gomgo_h3{
  margin-bottom: 20px;
}
.graph{
  text-align: center;
}
.p_title{
  background-color: #04aec4;
  opacity: 0.7;
}
.p_title .thtd{
  color: black;
  opacity: 1;
}
.care, .care-1{
  color: #778899;
  font-size: 15px;
  padding-top:5px;
  padding-bottom: 5px;
  text-align: left;
  line-height: 25px;
}
.care-1{
  padding-bottom: 20px;
}
.care1{
  color: black;
  margin-bottom: 20px;
  font-weight: 300;
  text-align: left;
  line-height: 25px;

}
.care1-1{
  color: black;
  margin-bottom: 10px;
  font-weight: 300;
  text-align: left;
  line-height: 25px;
}
.care1 span{
  margin-top: 10px;
  margin-bottom: 10px;
}
.gomchograp{
  width: 100%;
  border-top: 2px solid #747474;
  word-break: break-all;
  border-collapse: separate;
  border-left: 1px solid #ddd;
  margin-bottom: 50px;
}
.gomgo_h4{
  text-align: left;
  margin: 25px 0 8px 0;
}
.gomgo_h5{
  font-size: 15px
}
.gomgo_nice h4{
  color:#04aec4;
  font-weight: bold;
  margin-top: 50px;
}

.thtd{
  padding: 8px;
  border-bottom: 0.1px solid #b3b3b3;
  border-right: 0.1px solid #b3b3b3;
  line-height: 25px;
  }
  .tabmenu{
    margin-bottom: 20px;
    font-size: 16px;
    letter-spacing: -1px;
  }


.tabmenu .cho3 {
   color:#778899;
   padding:16px 43px;
   font-size: 16px;
   letter-spacing: -1px;
}

.gomso{
  margin-top: 40px;
  height: 500px;
  border: 1px solid gray;
  padding: 10px;
}
.gomso1{
  margin-top: 40px;
  height: 800px;
  border: 1px solid gray;
  padding: 10px;
}
.gomso_title{
  width: 100%;
  border-bottom: 1px solid gray;
  height: 30px;
  line-height: 20px;
}
.gomso_title1{
  border-right: 1px solid gray;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.gomso_title2{
  border-right: none;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.gomso_titles{
  width: 100%;
  border-bottom: 1px solid gray;
  height: 40px;
  line-height: 40px;
}
.gomso_title3{
  border-right: 1px solid gray;
  padding-left: 42px;
  padding-right: 42px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.gomso_title4{
  border-right: none;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.gomso_title5{
  border-right: 1px solid gray;
  border-left: 1px solid gray;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.gomso_title6{
  border-right: none;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.gomso_con{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  line-height: 30px;
}
.gomso_img{
  vertical-align: middle;
}
.gomso_href{
  color: skyblue;
}
